a{text-decoration-style: none;
    color: blanchedalmond;
    font-size: medium;
    font-weight: bold;
}
li{list-style-type: none;
    color: blanchedalmond;}
.encabezado{
    text-align: center;
    text-size-adjust: 200px;
    font-size: 80px;
}
.fs-80{
    font-size: 70px;
    justify-items: center;
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    color: rgb(168, 75, 8);
}
.fontVAP{
    font-family: 'Handlee', cursive; ;
    font-size: auto;
    font-weight: bold;
}
main{margin: 0%;padding: 0%; padding-bottom: 10px;
}
.ptop20{
    padding-top: 20px;
}
.pb20{
    padding-bottom: 20px;
}
.fs-50{
    font-size: 50px;
    justify-items: center;
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    color: rgb(168, 75, 8);
}
.button{
    justify-content: end;
}
.imagenprincipal{
    align-items: center;
    width: 100%;
    height: auto;
}
.fs-20{
    font-size: 20px;
    color:blanchedalmond
}
